:root {
  /* COLORS */
  --color-background: #deab90;
  --color-note-container: #774936;
  --color-note-background: #e7f2f8;
  --color-card-header: #120b0767;
  --color-note-buttons: #e7f2f8;
  --color-submit-buttons: #ffe8d6;
  --color-primaryr-light: #fff;
  --color-primaryr-dark: #000;

  /* SPACING */
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 3rem;

  /* FONT SIZE */
  --font-size-small: 0.5rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;

  /* BORDER RADIUS */
  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
}
